{% extends 'base.html.twig' %}

{% block title %}Продукция Fluid-line{% endblock %}

{% block body %}
    <div class="sections">
        <div class="head">
            <div class="fl_container">
                <div class="d-flex justify-content-center fl_color-primary align-items-center position-relative">
                    <a class="d-block logo-block fl_position-center" href="https://www.fluid-line.ru/">
                        <img class="d-block logo-image" src="{{ asset('assets/images/logo-white.svg') }}" alt="LOGO">
                    </a>
                    {% if inventory_user %}
                        <a class="
                                d-flex align-items-center text-decoration-none fl_font-family-primary
                                fl_text-color-white position-absolute fl_position-center-right
                            " href="{{ path('auth_account') }}" style="margin: 0 1em;">Здравствуйте, {{ inventory_user.userIdentifier }}</a>
                    {% else %}
                        <a class="
                                d-flex align-items-center text-decoration-none fl_font-family-primary
                                fl_text-color-white position-absolute fl_position-center-right
                            " href="{{ path('auth_login') }}" style="margin: 0 1em;">Войти в личный кабинет</a>
                    {% endif %}
                </div>
                <div class="d-flex fl_color-secondary" style="border-radius: 0 0 6px 6px;">
                    <div class="d-flex fl_width-100 fl_justify-content-space-around nav-row">
                        <a class="nav-item text-decoration-none fl_font-family-primary" href="https://www.fluid-line.ru/">Продукция</a>
                        <a class="nav-item text-decoration-none fl_font-family-primary" href="https://www.fluid-line.ru/about">О компании</a>
                        <a class="nav-item text-decoration-none fl_font-family-primary" href="https://www.fluid-line.ru/contacts">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="fl_container">
                <div class="d-flex justify-content-center flex-column my-5">
                    <label class="fl_display-none" for="searchInput"></label>
                    <input class="fl_input-text w-75 mx-auto my-1" name="searchInput" id="searchInput" data-fl-target="answerContainer">
                    <hr class="w-75 mx-auto my-2">
                    <div class="d-flex flex-wrap py-5 justify-content-between" id="answerContainer"></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="fl_container">
                <div class="d-flex justify-content-between fl_color-secondary w-100 align-items-center footer">
                    <a class="text-decoration-none fl_font-family-primary fl_text-color-white" href="mailto:mail@fluid-line.ru" style="margin: 0 1em;">mail@fluid-line.ru</a>
                    <a class="d-block logo-block" href="https://www.fluid-line.ru/">
                        <img class="d-block logo-image" src="{{ asset('assets/images/logo-white.svg') }}" alt="LOGO">
                    </a>
                    <a class="text-decoration-none fl_font-family-primary fl_text-color-white" href="tel:+74959844100" style="margin: 0 1em;">+7 (495) 984-41-00</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
