{% extends 'auth/account/index.html.twig' %}

{% block title %}Загруженные серии категории "{{ type }}"{% endblock %}

{% block content %}
    <div class="loaded-serials">
        {% for i in serials %}
            <div class="item-container">
                <a class="link" href="/admin/loaded/{{ type }}/{{ i.serial }}/codes">{{ type }} | {{ i.serial }}</a>
                <a class="link text-danger" href="{{ path('delete_type_serial', {'type' : type, 'serial' : i.serial}) }}">Удалить</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
