{% extends 'base.html.twig' %}

{% block title %}Таблица серии "{{ serial }}"{% endblock %}

{% block body %}
    <style>
        table {
            width: 100%;
        }
        ._item {
            border-bottom: 2em solid transparent;
        }
        ._overflow-y {
            width: calc(100vw - 320px);
            margin: auto;
            overflow-y: auto;
        }
    </style>
    <div class="_container">
        {{ include('layouts/navigation.html.twig') }}
        <div class="_overflow-y">
            <table>
                {% for i in products %}
                    <tr class="_item">
                        <td>{{ i.id }}</td>
                        <td>{{ i.serial }}</td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.code }}</td>
                        <td>
                            <table>
                                <tr>
                                    <td>Значение</td>
                                    <td>Валюта</td>
                                    <td>Склад</td>
                                </tr>
                                <tr>
                                    <td>{{ i.price.value }}</td>
                                    <td>{{ i.price.currency }}</td>
                                    <td>{{ i.price.warehouse }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>Название</td>
                                    <td>Описание</td>
                                    <td>Значение</td>
                                </tr>
                                {% for parameters in i['parameters'] %}
                                    <tr>
                                        <td>{{ parameters.name }}</td>
                                        <td>{{ parameters.description }}</td>
                                        <td>{{ parameters.value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
